<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="myapp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Movie API</title>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-cookies.min.js"></script>
    <script src="js/controller.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/mine.css" />
  </head>
  <body ng-controller="MovieController">
    <div class="jumbotron grey-gradient color-block">
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
            <img src="image/icon1.jpg" width="150" height="150"/>
          </div>
          <div class="col-sm-10" id="title1">
          <br><br>
            <h2>Movie API</h2>
            <p>Only for learning jersey</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
            <div class="row"><a href="API_test.html">Search</a></div>
            <div class="row"><a href="Create_movie.html">Create</a></div>
            <div class="row"><a href="index.html">Index</a></div>
            <span ng-bind="msg"></span>
          </div>
          <div class="col-sm-10">
          	<div class="container"></div>
            <form>
            	<div class="form-group">
            		<label for="moviename">Movie Name</label>
            		<input type="text" class="form-control" id="name1" placeholder="Enter name" ng-model="movie.name">
            	</div>
            	<div class="form-group">
            		<label for="movieyear">Movie Year</label>
            		<input type="number" class="form-control" id="year1" placeholder="Enter year" ng-model="movie.year">
            	</div>
            	<div class="form-group">
            		<label for="moviegenre">Movie Genre</label>
            		<input type="text" class="form-control" id="genre1" placeholder="Enter genre" ng-model="movie.genre">
            	</div>
            	<fieldset class="form-group">
            		<label for="movieseen">Movie Seen</label><br>
            		
            		<div class="form-check">
      					<label class="form-check-label">
        				<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="True" checked ng-model="movie.seen">
        					I have seen this movie
      					</label>
    				</div>
  					<div class="form-check">
      					<label class="form-check-label">
        				<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="False" checked ng-model="movie.seen">
        					I haven't seen this movie
      					</label>
    				</div>
            	</fieldset>
            	<button type="submit" class="btn btn-primary" ng-click="CreateMovieToList(movie)">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
      <script src="js/bootstrap.js"></script>
  </body>
</html>