
    				<td><input type="text" ng-model=x.name class="form-control input-sm"/></td>  
    				<td><input type="number" ng-model=x.year class="form-control input-sm"/></td>  
    				<td><input type="text" ng-model=x.genre class="form-control input-sm"/></td>  
    				<td>  
      				<select class="form-control input-sm" ng-model=x.watched>  
        				<option value='1'>Seen</option>  
        				<option value='0'>Unseen</option>  
      				</select>  
    				</td>  
    				<td>  
     				<button type="button" class="btn btn-primary" ng-click="updateMovie(x)">Save</button>  
     				<button type="button" class="btn btn-danger" ng-click="reset()">Cancel</button>  
    				</td>